Florida/*/desktop.ini
NewYork/*/desktop.ini
#
# Ignore all subdirectories for Maryland. GitHub has .tsv files. The script makes the
# local date dirs and the .csv files
#
Maryland/
NewYork/byzip-output.csv
NewYork/graph.gif
Florida/byzip-output.csv
Florida/graph.gif
.vscode/launch.json
Florida/graph.jpg
doall.bat
NorthCarolina/graph.gif
NorthCarolina/byzip-output.csv
I.docx
Pennsylvania/byzip-output.csv
Pennsylvania/graph.gif
check.bat
Florida/titusville-graph.gif
Florida/zephyrhills.gif
titusville-byzip-output.csv
fl.bat
Florida/titusville-graph.jif
Florida/zephyrhills-graph.gif
